:root {
    --pure-white: #FFFFFF;
    --dark-grey: #3B3B3B;

}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    background-color: var(--dark-grey);
    border: 4px solid;
    border-radius: 8px;
    margin: 60px;
    box-shadow: 4px 8px 14px black;

    padding: 20px 40px;

    list-style-type: none;
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--pure-white);
}